# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.dbgconf
Lab1_STM32F4Cube_Base_project/Listings/
Lab1_STM32F4Cube_Base_project/Objects/
*.scvd
Lab1_STM32F4Cube_Base_project/Base_Project.uvguix.David Lavoie-Boutin
*.d
Lab2_STM32F4Cube_Base_project/LAB2/MDK-ARM/LAB2 Configuration/
Lab2_STM32F4Cube_Base_project/LAB2/MDK-ARM/LAB2.uvguix.David Lavoie-Boutin
Lab2_STM32F4Cube_Base_project/LAB2/VisualStudioL_Lab2/Debug/
Lab2_STM32F4Cube_Base_project/LAB2/CodeDB/VisualStudioL_Lab2-Debug-Win32/codedb.lck
Lab2_STM32F4Cube_Base_project/LAB2/CodeDB/
Lab2_STM32F4Cube_Base_project/LAB2/.vs/
Lab2_STM32F4Cube_Base_project/LAB2/VisualStudioL_Lab2/VisualGDBCache/
Lab3_STM32F4Cube_Base_project/VisualStudio_Lab3/CodeDB/
Lab3_STM32F4Cube_Base_project/VisualStudio_Lab3/.vs/
Lab2_STM32F4Cube_Base_project/LAB2.zip
Lab3_STM32F4Cube_Base_project/VisualStudio_Lab3/VisualStudio_Lab3/Debug/
*.old
Lab3_STM32F4Cube_Base_project/VisualStudio_Lab3/VisualStudio_Lab3/VisualGDBCache/
