# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.dbgconf
Lab1_STM32F4Cube_Base_project/Listings/
Lab1_STM32F4Cube_Base_project/Objects/
*.scvd
Lab1_STM32F4Cube_Base_project/Base_Project.uvguix.David Lavoie-Boutin
